SPEECH_TO_TEXT_APIKEY=x8yIwOF3lclW7iigE8yx99lS6GaLgmxlMEvhSvWhDsQO
SPEECH_TO_TEXT_IAM_APIKEY=x8yIwOF3lclW7iigE8yx99lS6GaLgmxlMEvhSvWhDsQO
SPEECH_TO_TEXT_URL=https://api.eu-gb.speech-to-text.watson.cloud.ibm.com/instances/152395a9-b075-4405-aed8-82b254611fd6
SPEECH_TO_TEXT_AUTH_TYPE=iam


TEXT_TO_SPEECH_APIKEY=xd-LgDkN_jQC7WdKmzY1lCLHYo4yeTHfQ7vFaZNk58P-
TEXT_TO_SPEECH_IAM_APIKEY=xd-LgDkN_jQC7WdKmzY1lCLHYo4yeTHfQ7vFaZNk58P-
TEXT_TO_SPEECH_URL=https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/b3f694f2-2fde-4984-83b1-31856e5a1af7
TEXT_TO_SPEECH_AUTH_TYPE=iam

# Note: The “/instances/instance-id” has been removed from the ASSISTANT_URL.

ASSISTANT_APIKEY=lg-FTqmHQELiLM5SR4pEwREQjf-G2ZvBtzX3TiqTFNUw
ASSISTANT_IAM_APIKEY=lg-FTqmHQELiLM5SR4pEwREQjf-G2ZvBtzX3TiqTFNUw

#ASSISTANT_URL=http://eow2s86fjbc6i61.m.pipedream.net
#ASSISTANT_URL=https://eow2s86fjbc6i61.m.pipedream.net
#ASSISTANT_URL=https://soe-vgw-wcs2322.eu-gb.mybluemix.net/
ASSISTANT_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com
#ASSISTANT_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/722abe06-c92c-4fe3-98dd-9e123a15c949
ASSISTANT_AUTH_TYPE=iam


  
# replace the file name to .env when filling the configurations
EXTERNAL_IP=192.168.1.20

#Need to get this from URL encode decode 
ASSISTANT_SKILL_ID=79d51c0b-f7f7-4aa2-97b1-2fd4145a4e66

# Read here https://cloud.ibm.com/apidocs/assistant/assistant-v2#createsession
# Note need .env to pickup data
# validate with 
# docker-compose config
# docker exec -it voice-gateway-so bash

